{% extends 'base.html.twig' %}

{% block title %} Authentification - {{auth_title}}{% endblock %}

{% block body %}
    <main id="page" class="container-fluid">
        {% if error_msg is defined %}.
            <p class="error">{{error_msg}}</p>
        {% endif %}

        {{ form(form) }}

        <a href="{{auth_url}}">{{ auth_msg }}</a>
      
    </main>
{% endblock %}
